@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, span.subTitle {
	display: block;
	text-align: center;
}
h1 { margin-top: 20px;}
span { margin-top: 40px;}
ul {
	width: 30%;
	justify-content: center;
	margin: 20px auto 0;
}
ul.nav { display: flex; }
ul.nav li {
	display: block;
}
ul.nav li:not(:last-child) {
	margin-right: 16px;
}
ul.list, ul.detail {
	border: 1px solid #ddd;
	padding: 20px;
}
ul.list li:not(:last-child) {
	margin-bottom: 10px;
}

/* form */
form {
	width: 40%;
	padding: 20px;
	margin: 20px auto 0;
	border: 1px solid #ddd;
}


.btnGroup {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}
.delBtn, .addBtn, .resetBtn {
	display:block;
	padding: 10px 18px;
	margin: 0 10px;
    background-color: #ed5252;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.addBtn { background-color: #2a7ce2; }
.resetBtn { background-color: #dc6757; }