<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
  <h1 th:text="${title}+ ' List Page'"></h1>
  <span  class="subTitle">액션 영화 목록▼</span>
<ul class="nav">
<li><a th:href="@{/}">홈으로</a></li>
<li><a th:href="@{/action/create}">영화추가</a></li>
</ul>

<ul id="movieList" class="list">
  <li th:each="data : ${lstData}">
    <a th:href="@{/{title}/{id}(title=${title}, id=${data.id})}"  th:text="${data.movieName} + ' (' + ${data.productionYear} + ')'">
    </a>
    - <span th:text="${data.description}"></span>
  </li>
</ul>
</body>
</html>
