<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>movieCreate Page</title>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<h1>Comedy Movie Create Page</h1>
<span>코메디 영화 추가▼</span>
<ul class="nav">
<li>
<a th:href="@{/comedy}">목록이동</a>
</li>
</ul>

<form id="movieFrom" th:action="@{/comedy/create}" method="post">
<label for="movieName">영화제목</label>
<input type="text" id="movieName" name="moviename" placeholder="영화이름 입력">
<br/>

<label for="productionYear">제작연도</label>
<input type="text" id="productionYear" name="production_year" placeholder="영화 제작연도 (숫자만 입력)">
<br/>

<label for="description">영화설명</label>
<textarea id="description" name="description" placeholder="영화 설명"></textarea>
<br/>

<button type="reset">초기화</button>
<button type="submit">추가</button>
</form>

<script th:src="@{/js/comedyCreate-fetch.js}"></script>
</body>
</html>