<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Comedy List</title>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<h1>Comedy List Page</h1>
<span class="subTitle">코메디 영화 목록▼</span>
<ul class="nav">
<li><a th:href="@{/}">홈으로</a></li>
<li><a th:href="@{/comedy/create}">영화추가</a></li>
</ul>
<div id="coemdyloading">loading... 로딩중...</div>
<div id="coemdyError">error... 에러 발생...</div>
<ul id="comedyList" class="list"></ul>


<script th:src="@{/js/comedyList-fetch.js}"></script>
</body>
</html>