<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Documentary Detail</title>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<h1>Documentary Detail Page</h1>
<h1 th:text="${movie.movieName}"></h1>
<ul class="nav">
<li><a th:href="@{/}">홈으로</a></li>
<li><a th:href="@{/documentary}">목록으로</a></li>
</ul>

<ul class="detail">
<li th:text="'영화 이름: ' + ${movie.movieName}"></li>
<li th:text="'영화 설명: ' + ${movie.description}"></li>
<li th:text="'영화 개봉 연도: ' + ${movie.productionYear}"></li>
</ul>

</body>
</html>