<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<h1 th:text="${title}"></h1>
<span class="subTitle">다큐 영화 목록▼</span>
<ul class="nav">
<li><a th:href="@{/}">홈으로</a></li>
<li><a th:href="@{/documentary/create}">영화추가</a></li>
</ul>

<ul id="documentaryList" class="list">
  <li th:each="documentary : ${documentaries}">
    <a th:href="@{/documentary/{id}(id=${documentary.id})}"
       th:text="${documentary.movieName} + ' (' + ${documentary.productionYear} + ')'">
    </a>
<!--      - <span th:text="${documentary.description}"></span>-->
  </li>
</ul>
</body>
</html>
