<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="${documentary.name}"></title>
</head>
<body>
<h1>다큐 상세</h1>
<div class="btnGroup">
    <ul>
        <li><a th:href="@{/}">홈으로 이동</a></li>
        <li><a th:href="@{/documentary}">목록으로 이동</a></li>
    </ul>
</div>

<div id="movieDetail">
    <div>
        <img src="" alt="" th:src="@{/images/${documentary.image}}" />
    </div>
    <ul>
        <li class="info_name" th:text="${documentary.name} + ' (' + ${documentary.productionYear} + ') - ' + ${documentary.genre}"></li>
        <li class="info_des" th:text="${documentary.description}"></li>
    </ul>
</div>

<button th:onclick="'deleteItem(' + ${documentary.id} + ')'" id="delBtn">삭제</button>

<script th:src="@{/js/delete.js}"></script>
</body>
</html>
