<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hellojalbajo.movie.comedy.ComedyMapper">
	<select id="getComedyList" resultType="com.hellojalbajo.movie.comedy.ComedyDTO">
	
	</select>
</mapper>